@import url('https://fonts.googleapis.com/css2?family=Inter&family=Agbalumo&display=swap');
:root {
  // colors
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --zomp: #619b8aff;
  --white: #ffffff;
  --offwhite: #f8f8f8ff;

  // border radius
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--charcoal);
}

a:hover {
  text-decoration: underline;
  color: var(--pumpkin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Agbalumo', cursive;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: var(--olivine);
  margin-top: 1rem;
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--zomp);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--offwhite);
    color: var(--charcoal);
    cursor: not-allowed;
  }
}

body {
  background-color: var(--white);
  color: var(--charcoal);
  margin: 0;
  padding: 0;
}

// helper classes

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.safe-bottom {
  margin-bottom: 3rem;
}

.img-fluid {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 3rem 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-primary {
  color: var(--pumpkin);
}

.bg-white {
  background-color: var(--white);
}

.bg-offwhite {
  background-color: var(--offwhite);
}

.above {
  z-index: 1;
}
